.calendar-box {
  width: 15rem;
  color: #444;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  padding: 0.25rem 0.5rem;

  .calendar-box--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .calendar-box--actions {
      display: flex;
      justify-content: space-between;
      gap: 0.25rem;

      .cell {
        display: flex;
        place-content: center;
        place-items: center;
        width: 1.25rem;
        height: 1.25rem;
        font-size: 0.9rem;
        font-weight: 500;
        color: #b1b1b1;
        cursor: pointer;

        &:hover {
          color: #444;
          background-color: #b1b1b1;
          border-radius: 50%;
        }
      }
    }
  }

  .month {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .month-box {
    border-top: 1px solid #b1b1b1;
    margin-bottom: 0.25rem;

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .cell {
      display: flex;
      place-content: center;
      place-items: center;
      width: 1.25rem;
      height: 1.25rem;
      font-size: 0.9rem;
      font-weight: 500;
      color: #b1b1b1;
    }

    .cursor-pointer {
      color: #444;
      cursor: pointer;
    }

    .active {
      .cell-day {
        padding: 0.25rem;
        width: 1.5rem;
        height: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        background-color: #dc4c3e;
        border-radius: 50%;
      }
    }
  }
}
