.modal-container {
  .icon {
    width: 25px;
    height: 25px;

    display: flex;
    place-content: center;
    place-items: center;
  }

  position: fixed;
  width: 15rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  background-color: #fefefe;
  z-index: 1050;
  border-radius: 6px;
  padding: 0.25rem;

  .row {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;

    padding: 0.25rem;
    border-bottom: 1px solid #b1b1b1;

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    font-size: 1rem;

    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }

    color: #444;

    .title {
      color: inherit;
      font-size: 0.75rem;
      font-weight: 300;
    }
  }

  .delete-row {
    color: #de574a;
  }
}
