.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-backdrop {
  position: absolute;
  top: 5rem;
  left: 1rem;
  background-color: #fff;
  z-index: 2;

  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
