.stack {
  width: 12rem;
  padding: 0.25rem 0;

  background-color: #fff;
  height: fit-content;
  border-radius: 4px;
  color: #3c3c3c;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  text-align: left;

  .stack-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.9rem;
    font-weight: 500;

    margin: 0.125rem 0.25rem;
    padding: 0.5rem;

    border-radius: 4px;
    background-color: #f5f5f5;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #fff;
    }
  }

  .is-read {
    background-color: #fff;
    .btn-mark-task-done {
      display: none;
    }
  }

  .btn-mark-task-done {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    cursor: pointer;

    display: flex;
    place-content: center;
    place-items: center;

    border: 1px solid #b1b1b1;
    border-radius: 50%;

    .check {
      display: none;

      height: 10px;
      min-width: 5px;
      border-bottom: 2px solid #b1b1b1;
      border-right: 2px solid #b1b1b1;
      transform: rotate(45deg);
      margin: 20px;
    }

    &:hover {
      .check {
        display: block;
      }

      &::after {
        content: "Mark as read";
        position: absolute;
        left: 30%;

        padding: 0.25rem;

        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #b1b1b1;
        border-radius: 6px;

        background-color: #fff;
      }
    }
  }
}
