.modal {
  width: 12rem;

  background-color: #fff;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  color: #3c3c3c;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  text-align: left;

  .day-indicator {
    font-size: 1.1rem;
    font-weight: 500;
    border-bottom: 1px solid #b1b1b1;
    padding: 0.5rem;
  }

  .due-date-indicators-container {
    display: flex;
    flex-flow: column nowrap;

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .due-date-indicator {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 0.25rem;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
      }

      .left-side {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        .label {
          font-size: 0.75rem;
        }
      }

      .day-slug {
        font-size: 0.75rem;
        color: #b1b1b1;
        font-weight: 300;
      }
    }
  }
}
