.dashboard {
  width: 100%; // fallback
  width: 100dvw;
  height: 100%;
  background-color: #fff;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: auto;

  .header {
    padding: 1rem 2rem;
    background-color: #dc4c3e;
    color: #f5f5f5;
    border-bottom: 2px solid #fefefe;
    height: 12dvh;

    .primary-heading {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .sub-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .date-picker-btn {
        display: flex;
        gap: 0.25rem;

        padding: 0.25rem;
        color: inherit;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #f5f5f5;
          color: #333;
        }

        .month {
          font-weight: 700;
        }
      }

      .pagination-actions {
        display: flex;
        height: 1.5rem;

        font-weight: 900;
        cursor: pointer;

        .btn {
          border: 1px solid #f5f5f5;
          color: inherit;
          cursor: inherit;

          &:hover {
            background-color: #f5f5f5;
            color: #333;
          }
        }

        .btn-lt {
          border-radius: 4px 0 0 4px;
        }

        .btn-rt {
          border-radius: 0 4px 4px 0;
        }

        .today {
          border: none;
          border-top: 1px solid #f5f5f5;
          border-bottom: 1px solid #f5f5f5;
          line-height: 1rem;
          font-size: 0.75rem;
          font-weight: 600;

          &:hover {
            background-color: #f5f5f5;
            color: #333;
          }
        }

        .today,
        .btn {
          height: inherit;
          padding: 0.25rem;
        }

        .disabled {
          &:hover {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }
      }

      .notification {
        position: relative;
        display: flex;
        gap: 0.25rem;
        color: inherit;
        cursor: pointer;

        .bell {
          font-size: 1.25rem;
          font-weight: 300;
        }

        .count {
          position: absolute;
          top: 0;
          right: 0;

          display: flex;
          place-content: center;
          place-items: center;

          font-size: 0.5rem;
          font-weight: 700;
          background-color: #f5f5f5;
          color: #dc4c3e;

          padding: 0.25rem;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
        }
      }
    }
  }

  .board {
    padding: 0 2rem;
    display: flex;
    gap: 0.5rem;

    min-height: 88dvh;
    max-height: 88dvh;

    min-width: 100dvw;
    max-width: 100dvw;

    overflow: auto;

    .column {
      position: relative;

      min-width: 20rem;
      width: 20rem;
      max-width: 20rem;

      padding: 1rem;

      .secondary-heading {
        font-size: 1rem;
        font-weight: 700;

        margin-bottom: 0.75rem;
        height: 2dvh;
      }

      .tasks {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        margin-bottom: 0.5rem;
        padding: 0.5rem 0.5rem;

        border-top: 1px solid #b1b1b1;
        border-bottom: 1px solid #b1b1b1;

        min-height: max-content;
        max-height: 70dvh;
        overflow-y: auto;

        .task {
          position: relative;

          border: 1px solid #b1b1b1;
          border-radius: 9px;

          padding: 0.5rem;

          display: flex;
          align-items: flex-start;
          gap: 0.5rem;

          .task-name {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            font-size: 0.9rem;
            font-weight: 500;
            // line-height: 19px;
            overflow: hidden;
            overflow-wrap: break-word;
            padding-top: 2px;
            word-break: break-word;
            width: 100%;
          }

          .task-description {
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            font-size: 0.8rem;
            overflow: hidden;
            overflow-wrap: break-word;
            word-break: break-all;
          }

          .btn-mark-task-done {
            min-width: 20px;
            max-width: 20px;
            height: 20px;
            cursor: pointer;

            display: flex;
            place-content: center;
            place-items: center;

            border: 1px solid #b1b1b1;
            border-radius: 50%;

            .check {
              display: none;

              height: 10px;
              min-width: 5px;
              border-bottom: 2px solid #b1b1b1;
              border-right: 2px solid #b1b1b1;
              transform: rotate(45deg);
              margin: 20px;
            }

            &:hover {
              .check {
                display: block;
              }
            }
          }

          .btn-edit-task {
            display: none;
          }

          &:hover {
            .btn-edit-task {
              position: absolute;
              top: 0.5rem;
              right: 0.5rem;

              display: flex;
              place-content: center;
              place-items: center;

              background-color: #fefefe;
              color: #666;
              cursor: pointer;
              &:hover {
                border-radius: 6px;
                background-color: #eeeeee;
              }
            }
          }
        }
      }

      .card-add-task {
        position: absolute;
        bottom: 0;
        background-color: #fff;
        z-index: 1;

        min-width: 18rem;
        width: 18rem;
        max-width: 18rem;

        padding: 0.5rem 0;

        border: 1px solid #666;
        border-radius: 9px;
        margin-bottom: 1rem;

        .tags-container {
          display: flex;
          place-content: center flex-start;

          .tag {
            display: inline-flex;
            place-content: center;

            font-size: 0.8rem;
            font-weight: 800;

            background-color: #fde7d8;

            padding: 0.25rem 0.5rem;
            margin: 0 0 0.25rem 0.25rem;
            border-radius: 6px;
          }
        }

        textarea {
          background-color: transparent;
          outline: none;
          border: none;
          resize: none;

          margin-right: 0.5rem;
          padding: 0 0.25rem;

          width: 98%;
          height: 1rem; // default
          max-height: 10rem;
          overflow-y: auto;

          font-size: 0.9rem;
          line-height: 1rem;
          font-weight: 300;
          color: #666666;

          &::-webkit-scrollbar-thumb {
            background-color: #b1b1b1;
            border-radius: 4px;
          }
          &::-webkit-scrollbar {
            background-color: transparent;
            width: 6px;
          }
          &::-webkit-scrollbar-track {
            background-color: #efefef;
          }
        }

        .max-height-1 {
          height: 1rem;
        }

        .max-height-2 {
          height: 2rem;
        }

        .max-height-3 {
          height: 3rem;
        }

        .max-height-4 {
          height: 4rem;
        }

        .max-height-5 {
          height: 5rem;
        }

        .max-height-6 {
          height: 6rem;
        }

        .max-height-7 {
          height: 7rem;
        }

        .max-height-8 {
          height: 8rem;
        }

        .max-height-9 {
          height: 9rem;
        }

        .max-height-10 {
          height: 10rem;
        }

        .title {
          font-size: 0.9rem;
          line-height: 0.9rem;
          font-weight: 600;
          color: #20315a;
        }

        .description {
          font-size: 0.75rem;
          font-weight: 400;
          color: #666666;
        }

        .add-task--options {
          position: relative;

          display: flex;
          flex-flow: row nowrap;
          gap: 0.25rem;
          align-items: center;

          margin: 0.25rem;

          .due-date,
          .priority-box,
          .reminder {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.25rem;
            align-items: center;

            border: 1px solid #b1b1b1;
            border-radius: 4px;
            width: fit-content;
            height: 30px;
            padding: 0 0.25rem;
            cursor: pointer;

            &:hover {
              background-color: #f5f5f5;
            }

            &:hover::after {
              content: "";
              position: absolute;
              top: -50%;

              padding: 0.25rem;

              box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
              border: 1px solid #b1b1b1;
              border-radius: 6px;

              background-color: #fff;
            }

            &:focus-visible {
              border: 2px solid #b1b1b1;
            }
          }

          .due-date {
            color: #956cd4;

            .label {
              font-size: 0.75rem;
              text-transform: capitalize;
            }

            &:hover::after {
              color: currentColor;
              content: "Set due date";
              left: 0;
            }
          }

          .priority-box {
            &:hover::after {
              content: "Set priority";
              right: 50%;
            }
          }

          .reminder {
            width: 30px;

            &:hover::after {
              content: attr(data-hint);
              right: 0;
            }
          }

          .active {
            background-color: #f5f5f5;
          }
        }

        .card-add-task--actions {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.25rem;

          padding: 0.25rem;
          border-top: 1px solid #b1b1b1;

          .btn-action {
            width: 30px;
            height: 30px;

            display: flex;
            place-content: center;
            place-items: center;

            &:focus-visible {
              border: 2px solid #b1b1b1;
            }
          }

          .btn-confirm-add-task {
            border-radius: 4px;
            cursor: pointer;

            background-color: #dc4c3e;
            color: #f5f5f5;

            &:hover {
              background-color: #c3392c;
            }

            &:disabled {
              cursor: not-allowed;
              opacity: 0.5;
            }
          }

          .btn-cancel-add-task {
            border-radius: 4px;
            cursor: pointer;

            background-color: #f5f5f5;
            color: #666;

            &:hover {
              background-color: #e5e5e5;
            }
          }
        }
      }

      .btn-add-task {
        margin-top: 1.25rem;

        color: #666666;
        font-size: 0.9rem;
        line-height: 1.25rem;
        cursor: pointer;

        .plus {
          display: flex;
          place-content: center;
          place-items: center;

          font-size: 1.25rem;
          font-weight: 300;
          color: #dc4c3e;

          width: 20px;
          height: 20px;

          margin-right: 0.5rem;
        }

        &:hover {
          color: #dc4c3e;
          .plus {
            border-radius: 50%;
            color: #f5f5f5;
            background-color: #dc4c3e;
          }
        }
      }
    }
  }

  .toast {
    font-size: 1rem;
  }

  .toast-warning {
    font-size: 0.8rem;
    min-width: 25rem;
    word-wrap: none;
  }
}
