.priority-modal {
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  width: fit-content;

  .priority-flag {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
